
/*-- Style for Find My Craving Web Application -- */

main {
    background-color: #2c3e50;
}

:root {
    background-image: url("../images/welcome-background.jpg");
    background-size: cover;
    font-family: 'Quicksand', sans-serif;
    color: #ffffff;
}

h1, .mdc-top-app-bar__title, .mdc-top-app-bar {
    font-family: 'Amatic SC', cursive;
    text-align: center;
    background-color: #34495e;
}

h2 {
    background-color: #e67e22;
    text-align: center;
    font-family: 'Amatic SC', cursive;
}

content, .button-box  {
    padding: 15px;
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0px;
    background-color: #34495e;
    width: 100%;
    text-align: center;
    padding: 5px;
}


/*-- Search Page --*/
.mdc-image-list__label, h3 {
    font-family: 'Quicksand', sans-serif;
    padding: 0px 15px;
}

/*-- Restaurant Pages --*/

.restaurant-name {
    margin: 0px;
}

.icon-box {
    background-color: #c0392b;
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: 36px;
    padding: 15px;
    font-weight: bold;
    
}

.address {
    /* text-align: center;
    margin: 0; */
    color:#ffffff;
    text-decoration: none;
}


/*-- Recipe Pages --*/

.recipe-image {
    max-width: 100%;
}

.recipe-text {
    background-color: #ffffff;
    color: #2c3e50;
    padding: 20px;
}

#recipe-name {
    background-color: #e67e22;
    margin: 20px 0px;
    font-size: 56px;
    text-align: center;
    font-family: 'Amatic SC', cursive;
}

.instructions-text {
    padding: 25px 0px;
}

#tutorial-video {
    background-color: #34495e;
    padding: 20px;
}

/*-- Tooltip Sytle --*/

.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip Text */
.tooltip .tooltiptext{
    visibility: hidden;
    background-color: #95a5a6;
    color: #2c3e50;
    text-align: center;
    font-size: 10px;
    padding: 5px 2px;
    border-radius: 6px;
    font-family: 'Quicksand', sans-serif;

    /* Position-Bottom*/
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 100%;
}
.tooltip .tooltiptext-left {
    visibility: hidden;
    background-color: #95a5a6;
    color: #2c3e50;
    text-align: center;
    font-size: 10px;
    padding: 5px 2px;
    border-radius: 6px;
    font-family: 'Quicksand', sans-serif;

    /* Position-Left*/
    position: absolute;
    z-index: 10;
    top: 50%;
    right: 105%;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}
.tooltip:hover .tooltiptext-left {
    visibility: visible;
}
